<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <h1>Starting to learn</h1>
    
    <div id="app">
        <!--Now the vue app controls everything in this div-->
        <a v-bind:href="url">My Youtube</a> <!--You can do :href as well-->
        <br>
        <div v-if="showBooks">
            <h2>My Random Books</h2>
            <ul>
                <li v-for="book in books">
                    <h3>{{ book.title }}</h3>
                    <p>Author: {{ book.author }}</p>
                    <p>Published in: {{ book.publishDate }}</p>
                    <img :src="book.img" :alt="book.title" width="338" height="500">
                </li>
            </ul>
        </div>
        <button @click="toggleShowBooks">{{textShow}}</button>
        <h2>Click Fast - {{clicks}}</h2>
        <button v-on:click="clicksUp">Click Fast</button>

        

    </div> 
    <script src="./app.js"></script>
</body>
</html>

